{% extends 'layout/default.html' %}

{% block content %}

<h1>Group By Topic</h1>

{% for topic, articles in cached_articles|groupby('Topic') %}
    <h2>{{ topic }}</h2>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <th>Article Url</th>
                {%- for field in required_fields -%}
                <th >{{ field }}</th>
                {%- endfor -%}
            </thead>
            <tbody>
                {%- for article in articles -%}
                <tr>
                    <td><a href='/cached/{{ article.md5 }}'>{{article.ArticleUrl}}</a></td>
                    {%- for field in required_fields -%}
                    <td >
                    {{ article[field] }}
                        <!-- <div class='text-truncate text-break' ></div> -->
                    </td>
                    {%- endfor -%}
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock %}